.dialog_item {
    a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        cursor: pointer;
        transition: .2s;
        border-radius: 4px;
        &:hover,
        &.active {
            background: #1F1D3A;
            color: #fff;
        }
    }
}