.users {
    .pagination {
        display: flex;
        gap: 5px;

        span {
            padding: 2px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #1F1D3A;
            border-radius: 2px;
            cursor: pointer;
            display: none;
            min-width: 20px;

            &:first-child {
                display: flex;
            }

            &:last-child {
                display: flex;
            }
        }

        .prev:not(:first-child),
        .next:not(:first-child) {
            position: relative;
            &:before {
                content: '--';
                position: absolute;
                top: 0.1em;
            }
        }
        .next:last-child {
            &::before {
                content: none;
            }
        }

        .prev:not(:first-child) {
            margin-left: 20px;
        }

        .prev {
            display: flex !important;

            &:before {
                left: -20px;
            }
        }

        .next {
            display: flex !important;
            margin-right: 20px;

            &:before {
                right: -20px;
            }
        }

        .activePage {
            background: #1F1D3A;
            color: #fff;
            display: flex;
        }
    }

    .items {
        &:not(:first-child) {
            margin-top: 20px;
        }

        .item {
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-gap: 20px;

            &+.item {
                margin-top: 20px;
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .image {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                .infoUser,
                .location {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .location {
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}
