.header {
  grid-area: h;
  background: #1F1D3A;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;

  .logo {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      color: #7B9AB7;
    }
  }

  .login {
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      span {
        border-bottom: 1px dashed #fff;
        transition-duration: 0.2s;
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}