.appWrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  width: 1200px;
  margin: 0 auto;
}
.appWrapperContent {
  grid-area: c;
}

a.active {
  color: #7B9AB7!important;
}